include LICENSE
include README.md
include CITATION.cff
include PROVENANCE.md
include CHANGELOG.md
recursive-include docs *.py *.rst Makefile make.bat
recursive-include examples *.py
recursive-include benchmarks *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[cod]
